{{>adminheader}}

<style>
    body {
        height: 100%;
        margin: 0;
        background: linear-gradient(45deg, #49a09d, #5f2c82);
        font-family: sans-serif;
        font-weight: 100;
    }

    .container {
        position: relative;
        padding-top: 50px;
       padding-left: 50px;
       padding-right: 50px;
        max-width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    th {
        text-align: left;
    }

    thead {
        th {
            background-color: #55608f;
        }
    }

    tbody {
        tr {
            &:hover {
                background-color: rgba(255,255,255,0.3);
            }
        }
        td {
            position: relative;
            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -9999px;
                    bottom: -9999px;
                    background-color: rgba(255,255,255,0.2);
                    z-index: -1;
                }
            }
        }
    }

    /* Media Queries */
    @media only screen and (max-width: 768px) {
        /* Adjust the padding and font-size for smaller screens */
        .container {
            padding-top: 30px;
        }
        th,
        td {
            padding: 10px;
            font-size: 12px;
        }
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">




<div class="container">
	<table>
		<thead>
			<tr>
				<th>TITLE</th>
				<th>DESCRIPTION</th>

				<th>IMAGE</th>
				<th>STATUS</th>
				<th>DATE</th>
				<th>ACTION</th>


			</tr>
		</thead>
{{#each banner}}

    <tbody>
    <tr>
      <td>{{this.title}}</td>
       <td>{{this.description}}</td>
       <td ><img style="width:100px;" src="/images/{{this.image}}" alt=""></td>

       <td>{{this.status}}</td>
       <td>{{formatDate this.createdAt 'DD-MM-YYYY'}}</td>
       <td>
        <a class="btn btn-success" href="/admin/edit-banner?id={{this._id}}">EDIT</a>
        <a class="btn btn-danger delete-link" href="/admin/delete-banner?id={{this._id}}">DELETE</a>

       </td>


    </tr>
    </tbody>
{{/each}}

	</table>

    <a class="btn btn-primary" style="margin-top: 10px;" href="/admin/create-banner">CREATE</a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script>
const deleteLinks = document.querySelectorAll('.delete-link');

deleteLinks.forEach(deleteLink => {
  deleteLink.addEventListener('click', function(event) {
    event.preventDefault(); // prevent the link from navigating to a new page

    const url = this.getAttribute('href');
    swal({
      title: 'Are you sure?',
      text: 'This action cannot be undone.',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#DD6B55',
      confirmButtonText: 'Yes, delete it!',
      closeOnConfirm: false
    }, function() {
      
      window.location.href = url;
    });
  });
});

</script>

{{>adminfooter}}