{{>adminheader}}

<div class="content">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
      <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
      <i class="fa fa-bars"></i>
    </a>
    {{!-- <form class="d-none d-md-flex ms-4">
      <input class="form-control border-0" type="search" placeholder="Search">
    </form> --}}
    <div class="navbar-nav align-items-center ms-auto">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img class="rounded-circle me-lg-2" src="/images/user.jpg" alt="" style="width: 40px; height: 40px;">
          <span class="d-none d-lg-inline-flex">Sree San</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          {{!-- <a href="#" class="dropdown-item">My Profile</a> --}}
          {{!-- <a href="#" class="dropdown-item">Settings</a> --}}
          <a href="/admin/logout" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </nav>



  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand">
        <div class=""></div>
      </div>
      <div class="chartjs-size-monitor-shrink">
        <div class=""></div>
      </div>
    </div>
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="text-warning text-center"> EDIT CATEGORY</h2>


    </div>
    <div class="signup-form">
      <form action="" method="post" enctype="multipart/form-data">

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Name :</label>
          <div class="col-sm-10">
            <input type="text" required="" pattern="[A-Z]+" title="Use capital letters only" class="form-control"
              value="{{category.name}}" name="name">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Image :</label>
          <div class="col-sm-10">
            {{!-- <input type="file" value="{{category.images}}" id="category-image" class="form-control" name="image"
              required> --}}
            <img class="border m-2" style="width: 80px; height: auto;" src="/images/{{category.image}}" alt="">
            <input type="file" class="form-control" id="productImage" name="image" required>
          </div>
        </div>



        <input type="hidden" name="id" value="{{category._id}}">

        <h5 style="color: green;">{{message}}</h5>
        <h5 style="color: red">{{message1}}</h5>
        <div class="row sign-btn2">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-dark searchB">UPDATE</button>
            <a class="btn btn-dark" href="/admin/category" role="button">Cancel</a>
          </div>
        </div>
      </form>
    </div>





    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>