{{>adminheader}}


<div class="content">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
      <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
      <i class="fa fa-bars"></i>
    </a>
    {{!-- <form class="d-none d-md-flex ms-4">
      <input class="form-control border-0" type="search" placeholder="Search">
    </form> --}}
    <div class="navbar-nav align-items-center ms-auto">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img class="rounded-circle me-lg-2" src="/images/user.jpg" alt="" style="width: 40px; height: 40px;">
          <span class="d-none d-lg-inline-flex">Sree San</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          {{!-- <a href="#" class="dropdown-item">My Profile</a> --}}
          {{!-- <a href="#" class="dropdown-item">Settings</a> --}}
          <a href="/admin/logout" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </nav>







<div class="container">
  <div class="col py-3">
    <table class="table table-hover table-bordered">
      <thead class="table-info">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">Order ID</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Status</th>
          <th scope="col">View Details</th>
          <th scope="col">Change Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each ordersData}}
        <tr>
          <td>{{calculateSerialNumber @index ../currentPage ../itemsPerPage}}</td>
          <td>{{this.date}}</td>
          <td>{{this.orderId}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          <td>
            <a href="/admin/order_details?id={{this._id}}" class="btn btn-secondary">View Details</a>
          </td>
          <td>
            <form action="/admin/change_status?id={{this._id}}" method="post">
              <div class="input-group">
                <select name="status" class="form-select">
                  <option selected>Change order status</option>
                  <option value="Shipped">Shipped</option>
                  <option value="Delivered">Delivered</option>
                </select>
                <button type="submit" class="btn btn-danger">Submit</button>
              </div>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <nav aria-label="...">
      <ul class="pagination pagination-sm justify-content-center">
        {{#for 1 totalPages 1}}
        <li class="page-item {{#ifeq this ../currentPage}}active{{/ifeq}}">
          <a class="page-link" href="/admin/orders?page={{this}}">
            {{this}}
          </a>
        </li>
        {{/for}}
      </ul>
    </nav>
  </div>
</div>

</div>








<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/admin/js/main.js"></script>
<script>


</script>