{{>adminheader}}


<div class="content">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
      <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
      <i class="fa fa-bars"></i>
    </a>
    {{!-- <form class="d-none d-md-flex ms-4">
      <input class="form-control border-0" type="search" placeholder="Search">
    </form> --}}
    <div class="navbar-nav align-items-center ms-auto">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img class="rounded-circle me-lg-2" src="/images/user.jpg" alt="" style="width: 40px; height: 40px;">
          <span class="d-none d-lg-inline-flex">Sree San</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
          {{!-- <a href="#" class="dropdown-item">My Profile</a> --}}
          {{!-- <a href="#" class="dropdown-item">Settings</a> --}}
          <a href="/admin/logout" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </nav>


  <div class="col py-3" style="text-align: center;">

    <table class="table table-hover" style="border-top: 1px solid black;">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">Order id</th>
          <th scope="col">payment method</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each ordersData}}

        <tr>
          <th scope="row">{{addOne @index}}</th>
          <td>{{this.date}}</td>
          <td>{{this.orderId}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          {{!-- <td>{{this._doc.status}}</td> --}}
          <td>
            {{!-- <a href="/admin/edit_category/{{this._doc.id}}" type="button" class="btn btn-warning">Delivered</a>
            --}}
            <a href="/admin/order_details?id={{this._id}}" type="button" class="btn btn-info">View details</a>
          </td>
          <td>
            <form action="/admin/change_status?id={{this._id}}" class="bg-info" method="post">
              <div class="d-flex" style="width: 84%;">
                <div style="width: 100%;" class="p-l-15 ">
                  <select name="status" class="form-select" aria-label="Default select example">
                    <option selected>Change order status</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Delivered">Delivered</option>
                  </select>
                </div>
                <div>
                  <button type="submit" class="mx-auto btn btn-danger">submit</button>
                </div>
              </div>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>
</div>








<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/admin/js/main.js"></script>
<script>

 
</script>