{{>userheader}}



<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<style>
	button {
		margin: 5px;
	}

	button>a::after {
		content: '';
		display: block;
		height: 4px;
		width: 100%;
		background-color: #2bd576;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.4s ease;
		/* Fix the typo in transition property */
	}

	button:hover>a::after {
		transform: scaleX(1);
	}
</style>

<body class="animsition">

	<!-- Product -->
	<div class="bg0 m-t-23" style="margin-top: 80px;">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button>
						<a href="/products"
							class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1 text-decoration-none"
							data-filter="*">
							All Products
						</a>
					</button>

					{{#each loadCatData}}
					<button>
						<a style="text-decoration:none" href="/Category?id={{this._id}}"
							class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1 pointer">
							{{this.name}}
						</a>
					</button>


					{{/each}}
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>


					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>

				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">

					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>


						<input onchange="searchProducts()" id="searchField" class="mtext-107 cl2 size-114 plh2 p-r-15"
							type="text" name="search-product" placeholder="Search product name here...">

					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>
							{{!-- <button onclick="sortProduct_az()" class="filter-link stext-106 trans-04">
								a-z
							</button> --}}

							<ul>
								<li class="p-b-6">
									<button id="sortAZ" onclick="sortProduct_az( 'asc' )" class="filter-link stext-106 trans-04">
										a-z
									</button>
								</li>

								<li class="p-b-6">
									<a id="sortZA" onclick="sortProduct_az( 'desc' )" class="filter-link stext-106 trans-04">
										z-a
									</a>
								</li>

								<li class="p-b-6">
									<button id="sortLowToHigh" onclick="sortProductByPrice( 'asc' )"
										class="filter-link stext-106 trans-04">
										Price: Low to High
									</button>
								</li>

								<li class="p-b-6">
									<button id="sortHighToLow" onclick="sortProductByPrice( 'desc' )"
										class="filter-link stext-106 trans-04">
										Price: High to Low
									</button>
								</li>
							</ul>
						</div>

						{{!-- <div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$200.00+
									</a>
								</li>
							</ul>
						</div> --}}
						{{!--
						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Black
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Blue
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Grey
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Green
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Red
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										White
									</a>
								</li>
							</ul>
						</div> --}}

						{{!-- <div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Tags
							</div>

							<div class="flex-w p-t-4 m-r--5">
								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Fashion
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Lifestyle
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Denim
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Streetstyle
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a>
							</div>
						</div> --}}
					</div>
				</div>
			</div>
			<span id="pro_container">
				<div class="row isotope-grid" id="productList">

					{{#each proData}}
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="/images/{{this.image.[0]}}" alt="IMG-PRODUCT">

								<a href="/productDetail?id={{this._id}}"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
									Quick View
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/productDetail?id={{this._id}}"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{this.name}}
									</a>

									<input type="hidden" id="name{{this._id}}" value="{{this.name}}">
									<input type="hidden" id="id" value="{{this._id}}">

									<span class="stext-105 cl3">
										₹ {{this.price}}
									</span>
								</div>


								<div class="block2-txt-child2 flex-r p-t-3">
									{{!-- <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"> --}}
										{{#if this.isWishlisted}}
										<span id="click{{this._id}}">
											<img onclick="removeFromWishlist('{{this._id}}')" id="icon-1"
												class=" dis-block trans-04" src="images/icons/icon-heart-02.png"
												alt="ICON">
										</span>
										{{else}}

										<span id="click{{this._id}}">
											<img onclick="addToWishlistClient('{{this._id}}')" id="icon-2"
												class=" dis-block trans-04 " src="images/icons/icon-heart-01.png"
												alt="ICON">
										</span>
										{{/if}}
								</div>

							</div>
						</div>
					</div>
					{{/each}}




				</div>
			</span>
		</div>

		


</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script src="/javascript/products.js"></script>


{{>userfooter}}
