{{>userheader}}

   
    <div class="container-xl px-4" style="margin-top: 100px; margin-bottom: 80px;">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="/profile" >About me</a>
        <a class="nav-link" href="/adresses">Manage Address</a>
        <a class="nav-link" href="/wishlist" >Wishlist</a>
        <a class="nav-link" href="/my_orders">My Orders</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4"></div>
                    <!-- Profile picture upload button-->
                     <div>

                        <button class="btn btn-primary" type="button"></button>

                     </div>

                     <h3 class="mt-5 mb-5">Hello, {{userData.name}}</h3>
                   
                </div>
            </div>
        </div>

        
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body ml-3 p-5">
                    <h4 class="mb-3">Name : {{userData.name}}</h4>
                    <h4 class="mb-3">Mobile : {{userData.mobile}}</h4>
                    <h4 class="mb-3">Email : {{userData.email}}</h4>
                    {{!-- <h4 class="mb-3">D.O.B : {{userData.dob}}</h4> --}}
                    {{!-- <h4 class="mb-3">Account type : {{userData.type}}</h4> --}}
                    <a href="/edit_details" class="btn btn-info mt-4" type="button">EDIT</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


{{>userfooter}}